<div class="container">
  <h1>Dispatch Board</h1>
  <hr>
  <div class="dispatch-table">
  <table class="table table-striped table hover">
    <tr>
      <th>Rider/Driver</th>
      <th>Origin Address</th>
      <th>Destination Address</th>
      <th>Service Level</th>
    </tr>
    <tr>
    
    </tr>
  </table>
</div>
</div>
